<h2>Sign up</h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :email, label: false, placeholder: "joewilliams@gmail.com" %>
    <%= f.input :name, label: false, placeholder: "Joe" %>
    <%= f.input :last_name, label: false, placeholder: "Williams" %>
    <%= f.input :nick_name, label: false, placeholder: "Jo" %>
    <%= f.input :phone_number,label: false, placeholder: "+49 176 12345678" %>
    <%= f.input :date_of_birth, label: false, placeholder: "1990 / 07 / 01" %>
    <%= f.input :gender, collection: User::GENDERS, label: false, placeholder: "Masculine" %>
    <%= f.input :address, label: false, placeholder: "Fake Street 123" %>
    <%= f.input :photo, as: :file, required: true %>
    <%= f.input :password,
                required: true,
                hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                input_html: { autocomplete: "new-password" } %>
    <%= f.input :password_confirmation,
                required: true,
                input_html: { autocomplete: "new-password" } %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Sign up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
