<nav class="options-menu-container slideout-menu" aria-labelledby="img-btn-grey" id="menu">
  <div class="account-name">
    <p><%= @user.name %> <%= @user.last_name %></p>
    <%= image_tag("logo.png", class: "logo-menu") %>
  </div>
  <hr style="color:black; border: 0.01px solid rgba(0,0,0,0.2);">
  <div style="flex-grow: 1;" class="options-menu">
    <ul style="list-style: none; padding-left: 30px; margin-top: 28px;">
      <%= link_to dashboard_path(current_user) do %>
        <li><i class="fas fa-user" style="color: #33668a;"></i><p>Dashboard</p></li>
      <% end %>
      <li><i class="fas fa-history" style="color: #33668a;"></i><p>Transactions</p></li>
      <%= link_to user_qrcode_path(@user) do %>
        <li><i class="fas fa-qrcode" style="color: #33668a;"></i><p>My QR code</p></li>
      <% end %>
      <%= link_to vendors_path do %>
        <li><i class="fas fa-map-marked-alt" style="color: #33668a;"></i><p>Map</p></li>
      <% end %>
      <li><i class="far fa-question-circle" style="color: #33668a;"></i><p>Help & Feedback</p></li>
    </ul>
  </div>
  <hr style="color:black; border: 0.01px solid rgba(0,0,0,0.2);">
  <div class="options-menu-down">
    <i class="fas fa-cog" style="color: #33668a;"></i>
    <p><%= link_to "Log-Out", destroy_user_session_path, method: :delete%></p>
  </div>
</nav>
