<div class="container">
  <% simple_form_for @vendor, remote: true do |f|%>
    <%= f.input :name, as: :string %>
    <%= f.input :address %>
    <%= f.input :phone %>
    <%= f.input :business %>
    <%= f.input :city %>
    <%= f.input :description %>
    <%= f.input :weekday_opening_times %>
    <%= f.input :saturday_opening_times %>
    <%= f.input :sunday_opening_times %>
    <%= f.input :photo, as: :file %>s
  <% end %>
</div>

