<!-- <div class="container"> -->
<div class="dashboard-container" id="#dashboard-container">
  <div class="search-bar-container">
    <div id="search"><%= render "search_bar" %></div>
    <div class="round-grey-menu-bar nav-item dropdown" style="display: flex;justify-content: space-between;position: absolute;z-index: 3;top: 20px;right: 0px;">
      <%= cl_image_tag "menu-btn_kz7gls.png", class: "avatar dropdown-toggle", id: "navbar-Dropside", data: { toggle: "dropdown" } %>
    </div>
    <div class="display-menu-main-container" style="position: absolute;top: 0;right: -60%;height: 100vh;width: 60%;">
      <%= render "shared/display_menu" %>
    </div>
  </div>
  <div id="map"
     style="width: 100%; height:731px;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
   <!-- decomment if you want trip instructions on the map -->
  <!-- <div id="instructions"></div> -->
<!-- </div> -->

  <div class="vendors-container-on-map">

  </div>



