<div class="bill-show-container">
  <div class="white-top-card-bill">
    <div class="d-flex justify-content-between align-items-center pt-3">
      <div class="back-gray-btn">
        <i class="fas fa-chevron-left"></i>
        <i class="fas fa-camera"></i>
      </div>
      <div class="image-vendor-bill">
        <%= cl_image_tag @bill.vendor.photo.key+".png", :width => 120, :height => 120,
          :crop => :fill, :radius => 200, alt: "alttext" %>
      </div>
      <div class="back-gray-btn" style="background-color: transparent;color: transparent;">
        <i class="fas fa-chevron-left"></i>
        <i class="fas fa-camera"></i>
      </div>
    </div>
    <!-- <p style="margin-bottom: 8px;">You are goint to send money to </p> -->
    <h5 style="padding: 16px 0 28px 0; text-align: center; font-weight: bold;"><%= @bill.vendor.name %></h5>
  </div>

  <p style="margin: 36px 16px 8px 16px;font-size: 20px;font-weight: bold;">Ammount</p>
  <div class="amount-container d-flex">
    <div class="input-amount-blue">
      <span style="border-radius: 12px 0 0 12px;height: 60px; color: white; border: 0; background-color: black" class="currency_symbol input-group-text" id="inputGroup-sizing-lg"><%= currency_symbol %></span>
    </div>
    <input style="border-radius: 0 12px 12px 0;height: 60px; border: 0; background-color: black" type="text" class="form-control text-right" placeholder="<%= humanized_money @bill.price %>" aria-describedby="inputGroup-sizing-lg">
  </div>

  <div class="tips-count d-flex justify-content-between align-items-center">
    <p style="margin: 16px 16px 8px 16px;font-size: 20px;font-weight: bold;">Add some tips</p>
    <div class="d-flex">
      <p class="plus-tips-count-text" style="margin: 16px 16px 8px 16px;font-size: 20px;font-weight: bold;">+</p>
      <p class="tips-count-text" style="margin: 16px 16px 8px 16px;font-size: 20px;font-weight: bold;"></p>
    </div>
  </div>

  <div class="tips-btns">
    <div class="card-body p-1" style="display: flex;justify-content: space-between;">
      <button type="button" class="outBtn btn btn-light p-2 mx-2 bd-highlight rounded" style="width: 74px;">5%</button>
      <button type="button" class="outBtn btn btn-light p-2 mx-2 bd-highlight rounded" style="width: 74px;">10%</button>
      <button type="button" class="outBtn btn btn-light p-2 mx-2 bd-highlight rounded" style="width: 74px;">15%</button>
      <input type="text" class="btn btn-light p-2 mx-2 bd-highlight rounded" style="width: 74px; transition: 0.4s;" id="expand-btn" placeholder="€..."></input>
    </div>
  </div>

  <div class="d-flex justify-content-center align-items-center">
    <%= render "form-stripe" %>
  </div>
  <div class="d-flex justify-content-center align-items-center">
    <%= render "swipe-btn-pay" %>
  </div>

  <%= javascript_pack_tag("sweetalert") %>
</div>
