<div class="d-flex">
  <div class="container">
      <% if vendor.photo.attached?  %>
        <%= cl_image_tag vendor.photo.key, height: 80, width: 80, crop: :fill, class: "mb-3" %>
      <% else %>
        <%= image_tag 'restaurant-logo', height: 80, width: 80, crop: :fill %>
       <% end %>
      <p><strong><%= link_to vendor.name, vendor_path(vendor) %></strong> </p>
  </div>


  <!-- ratings -->
  <div class="mt-3 pt-3 pr-3">
    <div class="d-flex">
    <% if Review.where(vendor_id: vendor.id).count.positive? %>
      <% ratings = Review.where(vendor_id: vendor.id).map {|review| review.rating } %>
      <% stars = (ratings.reduce(:+).to_f / ratings.size).round(1) %>
      <p><%= stars %></p>
      <% (stars.to_i).times do  %>
        <i class="fas fa-star" style="color: #ffa931"></i>
      <% end %>
      <% if stars % 1 != 0 %>
        <i class="fa fa-star-half" style="color: #ffa931" aria-hidden="true"></i>
      <% end %>
    <% end %>
  </div>


  <!-- open or closed -->
  <% opening = (vendor.opens.hour.to_s + vendor.opens.min.to_s).to_i %>
  <% closing = (vendor.closes.hour.to_s + vendor.closes.min.to_s).to_i %>
  <% current_time = (Time.now.hour.to_s + Time.now.min.to_s).to_i %>
  <% if current_time >= opening && current_time < closing %>
   <p>OPEN - Closes <%= vendor.closes.hour.to_s %>:<%= vendor.closes.min.to_s %></p>
  <% else %>
    <p>CLOSED Open between <%= "#{vendor.opens.hour.to_s}:#{vendor.opens.min.to_s} - #{vendor.closes.hour.to_s}:#{vendor.closes.min.to_s}" %></p>
  <% end %>
  <!-- directions -->
  <div class="btn directions-button fas fa-directions" id=<%= "directions-id-#{vendor.id}" %> ></div>

  </div>


