<div class="dashboard-container">
  <div class="round-grey-menu-bar nav-item dropdown">
    <%= cl_image_tag "menu-btn_kz7gls.png", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
      <%= link_to "Action", "#", class: "dropdown-item" %>
      <%= link_to "Another action", "#", class: "dropdown-item" %>
      <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
    </div>
  </div>
  <div id="avatar">
    <% if current_user.photo.attached? %>
      <%= cl_image_tag current_user.photo.key+".png",
        :aspect_ratio=>"1:1", :border=>"3px_solid_rgb:ffffff",
        :gravity=>"auto", :radius=>"max", :width=>85,
        :crop=>"fill", alt: "avatar" %>
    <% else %>
      <%= cl_image_tag("ak7v1xw08tfwpyhhyplznrbuyf4o.png", :aspect_ratio=>"1:1", :border=>"5px_solid_rgb:ffffff", :gravity=>"auto", :radius=>"max", :width=>85, :crop=>"fill") %>
    <% end %>
  </div>
  <div id="name">
    <h2 style="font-size: 24px;">
      Hi <%= @user.nick_name %>!
    </h2>
  </div>
  <div class="cards-grid">
    <div><p style="font-size: 16px;">Account & cards</p></div>
    <div class="card-row">
      <% @user.cards.each do |card| %>
        <div class="card-card">
          <%= cl_image_tag("Screen_Shot_2020-06-13_at_15.03.52_iy0yev.png", :width=>57, :crop=>"thumb") %>
          <p><%= card.bank_name %></p>
        </div>
      <% end %>
      <%= link_to "#", :action => 'go' do %>
          <div class="new-card-card">
            <p>+</p>
          </div>
      <% end %>
    </div>
  </div>
  <div id="ad"></div>
  <div class="slider-btns"></div>
  <div class="bottom-card-dashboard"></div>
</div>





