<div id='menu' class="display-menu-main-container">
  <%= render "shared/display_menu" %>
</div>

<main class="dashboard-container slideout-panel" style="display: flex;flex-direction: column;" id="panel">
  <div>
    <div id="dashboard-container" style="flex-grow: 1;height: 100vh;">
      <div class="round-grey-menu-bar nav-item dropdown toggle-button" style="display: flex;justify-content: space-between;">
        <div id="avatar" style="padding: 0 16px;">
          <% if current_user.photo.attached? %>
            <%= cl_image_tag current_user.photo.key+".png",
              :aspect_ratio=>"1:1", :border=>"3px_solid_rgb:ffffff",
              :gravity=>"auto", :radius=>"max", :width=>85,
              :crop=>"fill", alt: "avatar" %>
          <% else %>
            <%= cl_image_tag("ak7v1xw08tfwpyhhyplznrbuyf4o.png", :aspect_ratio=>"1:1", :border=>"5px_solid_rgb:ffffff", :gravity=>"auto", :radius=>"max", :width=>85, :crop=>"fill") %>
          <% end %>
        </div>
        <%= cl_image_tag "menu-btn_kz7gls.png", class: "avatar dropdown-toggle", id: "navbar-Dropside", data: { toggle: "dropdown" } %>
      </div>
      <div id="name">
        <h2 style="font-size: 24px;font-weight: bold;">
          Hi <%= @user.nick_name %>!
        </h2>
      </div>
      <div class="cards-grid">
        <div><p style="font-size: 16pt;margin-bottom: 4px; padding: 0 16px;">Accounts & Cards</p></div>
        <div class="card-row">
          <% @user.cards.each do |card| %>
            <div class="card-card">
              <% if card.card_type == 'Visa' %>
                <%= cl_image_tag("Screen_Shot_2020-08-04_at_12.21.33_wtstts.png", :height=>35, :width=>57, :crop=>"pad") %>
              <% else %>
                <%= cl_image_tag("Screen_Shot_2020-06-13_at_15.03.52_iy0yev.png", :width=>57, :crop=>"thumb") %>
              <% end %>
              <p><%= card.bank_name %></p>
            </div>
          <% end %>
          <%= link_to "#", :action => 'go' do %>
              <div class="new-card-card">
                <i class="fas fa-credit-card"></i>
                <p>+</p>
              </div>
          <% end %>
        </div>
      </div>
      <div id="ad" class="ad-container">
        <% vendor = @vendor.sample %>
        <div class="vendor-avatar">
          <%= cl_image_tag vendor.photo.key+".png",
            :aspect_ratio=>"1:1", :border=>"0px_solid_rgb:ffffff",
            :gravity=>"auto", :radius=>"max", :width=>50,
            :crop=>"fill", alt: "vendor-avatar" %>
        </div>
        <div class="ad">
          <p style="font-weight: bold;"><%= vendor.name %></p>
          <p>Pay with Cashless and get €10 off!</p>
        </div>
        <div class="ad-logo">
          <p>Ad</p>
        </div>
        <div class="ad-menu">
          <i class="fas fa-ellipsis-h"></i>
        </div>
      </div>
      <div class="slider-btns"></div>
    </div>
  </div>
  <div>
    <div class="bottom-card-dashboard">
      <%= render "shared/last_movements" %>
    </div>
  </div>
  <%= render "shared/plus_menu" %>
</main>






