<div class="container">
  <div class="row">
    <div class="col-sm-5 col-sm-5" style="margin: auto;">
      <%= simple_form_for [@vendor, @review] do |f| %>
        <%= f.input :set_content, as: :radio_buttons, wrapper_html: { class: "radio-buttons" }, collection: Review::SET_CONTENT %>
        <%= f.input :content %>
        <%= f.input :rating %>
        <%= f.submit "Sent", class: "btn btn-primary" %>
      <% end %>
      <button type="button" class="btn btn-link"><%= link_to 'Back', :back %></button>
    </div>
  </div>
</div>
