<div class="review-container container">
  <div class="background-blur d-flex justify-content-center align-items-center">
    <div class="white-card-review-container row">
      <div class="review-white-card col-sm-5 col-sm-5" style="margin: auto;">

        <%= simple_form_for [@vendor, @review] do |f| %>
          <div class="vendor-review-name">
            <%= @vendor.name %>
          </div>
          <div class="stars-spacing" style="display: flex;justify-content: center;">
            <%= f.input :rating, collection: (1..5).to_a, label: false %>
          </div>
          <div>
            <%= f.input :set_content, as: :radio_buttons, wrapper_html: { class: "radio-buttons" }, collection: Review::SET_CONTENT, label: "" %>
          </div>
          <div>
            <%= f.input :content, label: false, :placeholder => 'Or write something here...' %>
          </div>
          <div class="send-btn-center">
            <%= f.submit "Send", class: "btn btn-primary" %>
            <button type="button" class="btn btn-link"><%= link_to 'Skip', dashboard_path(current_user) %></button>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
